<div class="flex flex-row items-center gap-2 p-4 border border-black rounded-xl shadow-md">
  <mat-form-field class="example-full-width">
    <mat-label>Filtrer</mat-label>
    <input matInput [(ngModel)]="textFilter" (ngModelChange)="onTextFilterChange($event)">
  </mat-form-field>

  <app-distance-slider [(value)]="distanceFilter" (valueChange)="onDistanceChange($event)"></app-distance-slider>

  <mat-form-field>
    <mat-label>Date minimum</mat-label>
    <input matInput [value]="datefilter()" [matDatepicker]="datepicker2" (dateChange)="onDateChange($event.value)">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
    <mat-datepicker #datepicker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Filtrer les tags</mat-label>
    <input matInput [(ngModel)]="tagFilter" (ngModelChange)="onTagChange($event)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Prix le plus bas</mat-label>
    <input matInput type="number" [(ngModel)]="lowPriceFilter" [min]="0" (ngModelChange)="lowPriceFilter.set($event); onPriceChange()">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Prix le plus haut</mat-label>
    <input matInput type="number" [(ngModel)]="highPriceFilter" [min]="0" (ngModelChange)="highPriceFilter.set($event); onPriceChange()">
  </mat-form-field>

  <button mat-button (click)="resetFilter()">Réinitialiser</button>



</div>

@for (formation of catalog(); track formation.id) {
  <app-formation-card [formation]="formation"></app-formation-card>
}
